<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid" style="margin-bottom: 15%;">
  <div class="row mainImg">
    <img class="mainImg" src="assets/img.jpg" class="img" alt="Image">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
          <div class="row pt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button class="mr-3 btn btn-primary">DEMO APP</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div class="col-md-7 pt-5">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">JOBS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CLIENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">EMPLOYERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT US</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-10">
    <div class="col-md-12">
      <h2 class="look" style="color: white;"><em>I'm looking for...</em></h2>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="row pt-10">
                <div class="col-md-10">
                  <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Enter a Job Description" aria-label="Search"
                      style="width: 1100px;">
                  </form>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary" type="submit" id="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <!-- <img src="assets/search.png" style="height: 5px;" class="img" alt="Image"> -->
                    <i>Search</i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>


    <div class="col-md-12 pt-3">
      <div class="row" style="margin-left: 161px;">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Full Time
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Part Time / Casual / Freelance
          </label>
        </div>
        <div class="col-md-1"></div>
        <div class="dropdown">
          <select class="btn  dropdown-toggle" type="button" data-toggle="dropdown"> Select your Location
            <span class="caret" style="padding-right: 10px;"></span>
            <option value="1">Select your Location</option>
            <option value="2">Mumbai</option>
            <option value="1">Kolhapur</option>
          </select>

        </div>

      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button class="btn btn-primary" type="submit" id="submit" data-toggle="modal"
                data-target=".bd-example-modal-lg">Register</button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<div class="container-fluid divCls">
  <div class="row">
    <label for="lbl" class="lblCls"><i>We're leaders in</i></label>
  </div>
  <div class="row mainlbl">
    <label for="lbl" class="lblHead">
      Creative Digital Recruitment
    </label>
  </div>
  <div class="row lineCls">
    <div class="line"></div>
  </div>
  <div class="row">
    <p class="pCls">
      Based in Surry Hills, the creative hub of Sydney, we are surrounded by creativity <br> and that reflects on
      the
      type
      of jobs we recruit for.
    </p>
  </div>
  <div class="row">
    <button class="btnCls3">
      FIND OUT MORE ABOUT US!
    </button>
  </div>
</div>
<div class="container-fluid divCls1">
  <div class="row">
    <p class="pCls">
      Subscibe to our Job Seeker Mailing List</p>
  </div>
  <div class="row">
    <div class="rowCls">
      <input class="inpCls" type="email" placeholder="Enter Your Email Address">
      <span>
        <img class="imgCls" src="assets/email.png" alt="Envelope">
      </span>
    </div>
  </div>
</div>
<div class="container-fluid divCls2">
  <div class="setRow">
    <img class="imgCls1" src="assets/email1.png" alt="Envelope">&nbsp;&nbsp;
    <input type="text" class="inpCls1">
    <label for="lbl" class="copylbl">Copyright © 2014 Two Bytes Consulting. <b>Terms & Policies.</b></label>
  </div>
</div>











<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-header" style="background-color: #00aeff;color: white;">
      <h5 class="modal-title" id="exampleModalLabel">Registration</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="container">
        <div class="form-section">
          <form [formGroup]="registrationForm" class="registration-form">
            <div class="image-section" style="margin-right: 20px;margin-top: -10px;">
              <img src="assets/images.png" alt="" height="150" width="130" (click)="triggerFileInput()">
              <br>
              <span for="lbl" style="font-size: smaller; color: #007bff;font-weight: bold;">Upload Your Photo</span>

              <input type="file" (change)="onFileSelected($event)" accept="image/*" id="photo" style="display: none;">
            </div>


            <div class="form-fields">
              <div class="name-fields">
                <div class="input-field">
                  <input type="text" formControlName="firstName" id="firstName" maxlength="20" placeholder="First Name">
                  <div
                    *ngIf="registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.dirty || registrationForm.get('firstName')?.touched)">
                    <div style="color: red;">First Name is required</div>
                  </div>
                </div>
                <div class="input-field">
                  <input type="text" formControlName="lastName" id="lastName" maxlength="20" placeholder="Last Name">
                  <div
                    *ngIf="registrationForm.get('lastName')?.invalid && (registrationForm.get('lastName')?.dirty || registrationForm.get('lastName')?.touched)">
                    <div style="color: red;">Last Name is required</div>
                  </div>
                </div>
              </div>

              <div class="input-field">
                <input type="email" formControlName="email" id="email" placeholder="Email">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
                  <div *ngIf="email?.errors?.['required']" style="color: red;">
                    Email is required.
                  </div>
                  <div *ngIf="email?.errors?.['email'] && !email?.errors?.['required']" style="color: red;">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>

              <div class="input-field">
                <input type="number" formControlName="contactNo" id="contactNo" maxlength="10"
                  placeholder="(541) 754-3010">
                <div
                  *ngIf="registrationForm.get('contactNo')?.errors?.['required'] && (registrationForm.get('contactNo')?.dirty || registrationForm.get('contactNo')?.touched)">
                  <div style="color: red;">Contact Number is required</div>
                </div>
              </div>


              <label for="age">Age</label>
              <div class="input-field">
                <input style="width: 95%;" type="range" min="18" max="100" formControlName="age" id="age">
                <span>{{ registrationForm.get('age')?.value }}</span>
              </div>





              <div class="input-field">
                <select formControlName="state" id="state">State
                  <span class="caret" style="padding-right: 10px;"></span>
                  <option value="">State</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Goa">Goa</option>
                </select>
              </div>



              <div class="input-field">
                <select formControlName="country" id="country">
                  <option value="">Country</option>
                  <option value="India">India</option>
                  <option value="London">London</option>
                </select>
              </div>

              <div class="input-field">
                <select formControlName="addressType" (change)="toggleAddressFields()">
                  <option value="Home">Address</option>
                  <option value="Home">Home</option>
                  <option value="Company">Company</option>
                </select>
              </div>


              <div class="input-field">
                <div *ngIf="registrationForm.get('addressType')?.value === 'Home'">
                  <input type="text" formControlName="homeAddress1" placeholder="Home Address 1">
                  <input type="text" formControlName="homeAddress2" placeholder="Home Address 2">
                </div>
              </div>

              <div class="input-field">
                <div *ngIf="registrationForm.get('addressType')?.value === 'Company'">
                  <input type="text" formControlName="companyAddress1" placeholder="Company Address 1">
                  <input type="text" formControlName="companyAddress2" placeholder="Company Address 2">
                </div>
              </div>

              <div class="input-field">
                <input type="text" formControlName="tags" id="tags" placeholder="Tags">
              </div>

              <div class="input-field interests">
                <div class="interests-checkboxes">
                  <div class="interest">
                    <input type="checkbox" formControlName="cricket" id="cricket">
                    <label for="cricket" class="interest-label">Cricket</label>
                  </div>
                  <div class="interest">
                    <input type="checkbox" formControlName="football" id="football">
                    <label for="football" class="interest-label">Football</label>
                  </div>
                  <div class="interest">
                    <input type="checkbox" formControlName="hockey" id="hockey">
                    <label for="hockey" class="interest-label">Hockey</label>
                  </div>
                </div>
              </div>

              <div class="form-check-inline">
                <label style="color: rgb(62, 61, 61);font-family: system-ui;">
                  <input type="checkbox" class="form-check-input" value="">Subscribe to newsletter
                </label>
              </div>

              <div class="input-field">
                <div class="buttons">
                  <button class="cancel-button btnCls" data-dismiss="modal">Cancel</button>
                  <button class="submit-button btnCls1" data-dismiss="modal" (click)="submit()">Submit</button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>